<div class="details">
    <h1>Reservation List</h1>
    <br>
    <div class="recentOrders">

        <table>
            <thead>
                <tr>
                    <td>PlayerID</td>
                    <td>StadiumID</td>
                    <td>Start Date</td>
                    <td>end Date</td>
                    <td>Status</td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let reservation of reservations">
                    <td>{{ reservation.playerId }}</td>
                    <td>{{ reservation.stadiumId }}</td>
                    <td>{{ reservation.startDate }}</td>
                    <td>{{ reservation.endDate }}</td>
                    <!-- <td><div [ngClass]="reservation.status == true ? 'status delivered' : 'status pending'"><span>id:00{{ reservation.id }}</span></div></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
