<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">54</div>
            <div class="cardName">Reservations</div>
        </div>

        <div class="iconBx">
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">504</div>
            <div class="cardName">Players</div>
        </div>

        <div class="iconBx">
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">34</div>
            <div class="cardName">Stadium Owners</div>
        </div>

        <div class="iconBx">
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">34</div>
            <div class="cardName">Stadiums</div>
        </div>

        <div class="iconBx">
        </div>
    </div>
</div>