<h1>Players List</h1>

<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
            <th>Email</th>
			<th>Actions</th>
		</tr>
		<tr *ngFor="let player of players">
			<td>{{ player.id }}</td>
			<td>{{ player.name }}</td>
            <td>{{ player.email }}</td>
			<td>
				<button (click)="activatePlayer(player.id)" style="background-color: rgb(33, 170, 33);" [disabled]="player.status">Activate</button> | <button (click)="deactivatePlayer(player.id)" style="background-color: rgb(199, 199, 22);" [disabled]= "!player.status">Desactivate</button>
			</td>
		</tr>
	</table>